<%- include('includes/head.ejs') %>
<%- include('includes/header.ejs') %>

<section>
    <form>
        <%- include('includes/intro.ejs') %>
        <%- include('includes/wafs.ejs') %>
        <%- include('includes/css.ejs') %>
        <%- include('includes/pwa.ejs') %>
        <%- include('includes/bt.ejs') %>
        <%- include('includes/rtw.ejs') %>
        <%- include('includes/hcd.ejs') %>
    </form>
</section>s