<%- include('../includes/head.ejs') %>
<%- include('../includes/header.ejs') %>
<section>
    <form method="POST" action="/hcd">
        <fieldset id="rtw">
            <%- include('../includes/error.ejs') %>
            <legend>
                <h2>Realtime Web Apps</h2>
            </legend>
            <p>Welke docenten gaven dit vak?</p>
            <select name="docent1" id="docent1" required />
            <% if(rtw && rtw.docent1 === 'docent1-joost') { %>
            <option value="docent1-joost" selected="selected">Joost Faber</option>
            <% } else { %>
            <option value="docent1-joost">Joost Faber</option>
            <% } %>
            <% if(rtw && rtw.docent1 === 'docent1-koop') { %>
            <option value="docent1-koop" selected="selected">Koop Reynders</option>
            <% } else { %>
            <option value="docent1-koop">Koop Reynders</option>
            <% } %>
            <% if(rtw && rtw.docent1 === 'docent1-sanne') { %>
            <option value="docent1-sanne" selected="selected">Sanne Hooft</option>
            <% } else { %>
            <option value="docent1-sanne">Sanne Hooft</option>
            <% } %>
            <% if(rtw && rtw.docent1 === 'docent1-vasilis') { %>
            <option value="docent1-vasilis" selected="selected">Vasilis van Gemert</option>
            <% } else { %>
            <option value="docent1-vasilis">vasilis van Gemert</option>
            <% } %>
            <% if(rtw && rtw.docent1 === 'docent1-justus') { %>
            <option value="docent1-justus" selected="selected">Justus Sturkenboom</option>
            <% } else { %>
            <option value="docent1-justus">Justus Sturkenboom</option>
            <% } %>
            <% if(rtw && rtw.docent1 === 'docent1-declan') { %>
            <option value="docent1-declan" selected="selected">Declan Rek</option>
            <% } else { %>
            <option value="docent1-declan">Declan Rek</option>
            <% } %>
            <% if(rtw && rtw.docent1 === 'docent1-robert') { %>
            <option value="docent1-robert" selected="selected">Robert Spier</option>
            <% } else { %>
            <option value="docent1-robert">Robert Spier</option>
            <% } %>
            <% if(rtw && rtw.docent1 === 'docent1-peter-paul') { %>
            <option value="docent1-peter-paul" selected="selected">Peter-Paul Koch</option>
            <% } else { %>
            <option value="docent1-peter-paul">Peter-Paul Koch</option>
            <% } %>
            <% if(rtw && rtw.docent1 === 'docent1-shyanta') { %>
            <option value="docent1-shyanta" selected="selected">Shyanta Vleugel</option>
            <% } else { %>
            <option value="docent1-shyanta">Shyanta Vleugel</option>
            <% } %>

            </select>
            <select name="docent2" id="docent2" required />
            <% if(rtw && rtw.docent2 === 'docent2-joost') { %>
            <option value="docent2-joost" selected="selected">Joost Faber</option>
            <% } else { %>
            <option value="docent2-joost">Joost Faber</option>
            <% } %>
            <% if(rtw && rtw.docent2 === 'docent2-koop') { %>
            <option value="docent2-koop" selected="selected">Koop Reynders</option>
            <% } else { %>
            <option value="docent2-koop">Koop Reynders</option>
            <% } %>
            <% if(rtw && rtw.docent2 === 'docent2-sanne') { %>
            <option value="docent2-sanne" selected="selected">Sanne Hooft</option>
            <% } else { %>
            <option value="docent2-sanne">Sanne Hooft</option>
            <% } %>
            <% if(rtw && rtw.docent2 === 'docent2-vasilis') { %>
            <option value="docent2-vasilis" selected="selected">Vasilis van Gemert</option>
            <% } else { %>
            <option value="docent2-vasilis">vasilis van Gemert</option>
            <% } %>
            <% if(rtw && rtw.docent2 === 'docent2-justus') { %>
            <option value="docent2-justus" selected="selected">Justus Sturkenboom</option>
            <% } else { %>
            <option value="docent2-justus">Justus Sturkenboom</option>
            <% } %>
            <% if(rtw && rtw.docent2 === 'docent2-declan') { %>
            <option value="docent2-declan" selected="selected">Declan Rek</option>
            <% } else { %>
            <option value="docent2-declan">Declan Rek</option>
            <% } %>
            <% if(rtw && rtw.docent2 === 'docent2-robert') { %>
            <option value="docent2-robert" selected="selected">Robert Spier</option>
            <% } else { %>
            <option value="docent2-robert">Robert Spier</option>
            <% } %>
            <% if(rtw && rtw.docent2 === 'docent2-peter-paul') { %>
            <option value="docent2-peter-paul" selected="selected">Peter-Paul Koch</option>
            <% } else { %>
            <option value="docent2-peter-paul">Peter-Paul Koch</option>
            <% } %>
            <% if(rtw && rtw.docent2 === 'docent2-shyanta') { %>
            <option value="docent2-shyanta" selected="selected">Shyanta Vleugel</option>
            <% } else { %>
            <option value="docent2-shyanta">Shyanta Vleugel</option>
            <% } %>
            </select>

            <p>In welke periode werd het vak gegeven?</p>
            <input type="date" id="periode" name="startPeriode" value="<%= rtw ? rtw.startPeriode : '' %>" required />
            <input type="date" id="periode" name="eindPeriode" value="<%= rtw ? rtw.eindPeriode : '' %>" required />

            <p>Wat voor cijfer geef je het vak?</p>
            <% if(rtw && rtw.beoordeling === '1') { %>
            <input type="radio" name="beoordeling" id="beoordeling-1" value="1" checked />
            <% } else { %>
            <input type="radio" name="beoordeling" id="beoordeling-1" value="1" required />
            <% } %>
            <label for="beoordeling-1">1</label>

            <% if(rtw && rtw.beoordeling === '2') { %>
            <input type="radio" name="beoordeling" id="beoordeling-2" value="2" checked />
            <% } else { %>
            <input type="radio" name="beoordeling" id="beoordeling-2" value="2" required />
            <% } %>
            <label for="beoordeling-2">2</label>

            <% if(rtw && rtw.beoordeling === '3') { %>
            <input type="radio" name="beoordeling" id="beoordeling-3" value="3" checked />
            <% } else { %>
            <input type="radio" name="beoordeling" id="beoordeling-3" value="3" required />
            <% } %>
            <label for="beoordeling-3">3</label>


            <% if(rtw && rtw.beoordeling === '4') { %>
            <input type="radio" name="beoordeling" id="beoordeling-4" value="4" checked />
            <% } else { %>
            <input type="radio" name="beoordeling" id="beoordeling-4" value="4" required />
            <% } %>
            <label for="beoordeling-4">4</label>

            <% if(rtw && rtw.beoordeling === '5') { %>
            <input type="radio" name="beoordeling" id="beoordeling-5" value="5" checked />
            <% } else { %>
            <input type="radio" name="beoordeling" id="beoordeling-5" value="5" required />
            <% } %>
            <label for="beoordeling-5">5</label>

            <% if(rtw && rtw.beoordeling === '6') { %>
            <input type="radio" name="beoordeling" id="beoordeling-6" value="6" checked />
            <% } else { %>
            <input type="radio" name="beoordeling" id="beoordeling-6" value="6" required />
            <% } %>
            <label for="beoordeling-6">6</label>

            <% if(rtw && rtw.beoordeling === '7') { %>
            <input type="radio" name="beoordeling" id="beoordeling-7" value="7" checked />
            <% } else { %>
            <input type="radio" name="beoordeling" id="beoordeling-7" value="7" required />
            <% } %>
            <label for="beoordeling-7">7</label>

            <% if(rtw && rtw.beoordeling === '8') { %>
            <input type="radio" name="beoordeling" id="beoordeling-8" value="8" checked />
            <% } else { %>
            <input type="radio" name="beoordeling" id="beoordeling-8" value="8" required />
            <% } %>
            <label for="beoordeling-8">8</label>

            <% if(rtw && rtw.beoordeling === '9') { %>
            <input type="radio" name="beoordeling" id="beoordeling-9" value="9" checked />
            <% } else { %>
            <input type="radio" name="beoordeling" id="beoordeling-9" value="9" required />
            <% } %>
            <label for="beoordeling-9">9</label>

            <% if(rtw && rtw.beoordeling === '10') { %>
            <input type="radio" name="beoordeling" id="beoordeling-10" value="10" checked />
            <% } else { %>
            <input type="radio" name="beoordeling" id="beoordeling-10" value="10" required />
            <% } %>
            <label for="beoordeling-10">10</label>



            <p>Hoe moeilijk vond je de lesstof?</p>
            <% if(rtw && rtw.moeilijkheid === '1') { %>
            <input type="radio" name="moeilijkheid" id="moeilijkheid-1" value="1" checked />
            <% } else { %>
            <input type="radio" name="moeilijkheid" id="moeilijkheid-1" value="1" required />
            <% } %>
            <label for="moeilijkheid-1">1</label>

            <% if(rtw && rtw.moeilijkheid === '2') { %>
            <input type="radio" name="moeilijkheid" id="moeilijkheid-2" value="2" checked />
            <% } else { %>
            <input type="radio" name="moeilijkheid" id="moeilijkheid-2" value="2" required />
            <% } %>
            <label for="moeilijkheid-2">2</label>

            <% if(rtw && rtw.moeilijkheid === '3') { %>
            <input type="radio" name="moeilijkheid" id="moeilijkheid-3" value="3" checked />
            <% } else { %>
            <input type="radio" name="moeilijkheid" id="moeilijkheid-3" value="3" required />
            <% } %>
            <label for="moeilijkheid-3">3</label>

            <% if(rtw && rtw.moeilijkheid === '4') { %>
            <input type="radio" name="moeilijkheid" id="moeilijkheid-4" value="4" checked />
            <% } else { %>
            <input type="radio" name="moeilijkheid" id="moeilijkheid-4" value="4" required />
            <% } %>
            <label for="moeilijkheid-4">4</label>

            <% if(rtw && rtw.moeilijkheid === '5') { %>
            <input type="radio" name="moeilijkheid" id="moeilijkheid-5" value="5" checked />
            <% } else { %>
            <input type="radio" name="moeilijkheid" id="moeilijkheid-5" value="5" required />
            <% } %>
            <label for="moeilijkheid-5">5</label>

            <% if(rtw && rtw.moeilijkheid === '6') { %>
            <input type="radio" name="moeilijkheid" id="moeilijkheid-6" value="6" checked />
            <% } else { %>
            <input type="radio" name="moeilijkheid" id="moeilijkheid-6" value="6" required />
            <% } %>
            <label for="moeilijkheid-6">6</label>

            <% if(rtw && rtw.moeilijkheid === '7') { %>
            <input type="radio" name="moeilijkheid" id="moeilijkheid-7" value="7" checked />
            <% } else { %>
            <input type="radio" name="moeilijkheid" id="moeilijkheid-7" value="7" required />
            <% } %>
            <label for="moeilijkheid-7">7</label>

            <% if(rtw && rtw.moeilijkheid === '8') { %>
            <input type="radio" name="moeilijkheid" id="moeilijkheid-8" value="8" checked />
            <% } else { %>
            <input type="radio" name="moeilijkheid" id="moeilijkheid-8" value="8" required />
            <% } %>
            <label for="moeilijkheid-8">8</label>

            <% if(rtw && rtw.moeilijkheid === '9') { %>
            <input type="radio" name="moeilijkheid" id="moeilijkheid-9" value="9" checked />
            <% } else { %>
            <input type="radio" name="moeilijkheid" id="moeilijkheid-9" value="9" required />
            <% } %>
            <label for="moeilijkheid-9">9</label>

            <% if(rtw && rtw.moeilijkheid === '10') { %>
            <input type="radio" name="moeilijkheid" id="moeilijkheid-10" value="10" checked />
            <% } else { %>
            <input type="radio" name="moeilijkheid" id="moeilijkheid-10" value="10" required />
            <% } %>
            <label for="moeilijkheid-10">10</label>
            <br>
            <br>

            <div>
                <label for="moeilijkheidToelichting">Toelichting</label>
            </div>
            <textarea rows="3" cols="40" name="moeilijkheidToelichting" id="moeilijkheidToelichting"
                placeholder="Wat vond je moeilijk van de lesstof? "
                required /><%= rtw ? rtw.moeilijkheidToelichting : '' %></textarea>

            <p>Hoe duidelijk vond je de uitleg die gegeven is?</p>

            <% if(rtw && rtw.uitleg === '1') { %>
            <input type="radio" name="uitleg" id="uitleg-1" value="1" checked />
            <% } else { %>
            <input type="radio" name="uitleg" id="uitleg-1" value="1" required />
            <% } %>
            <label for="uitleg-1">1</label>

            <% if(rtw && rtw.uitleg === '2') { %>
            <input type="radio" name="uitleg" id="uitleg-2" value="2" checked />
            <% } else { %>
            <input type="radio" name="uitleg" id="uitleg-2" value="2" required />
            <% } %>
            <label for="uitleg-2">2</label>

            <% if(rtw && rtw.uitleg === '3') { %>
            <input type="radio" name="uitleg" id="uitleg-3" value="3" checked />
            <% } else { %>
            <input type="radio" name="uitleg" id="uitleg-3" value="3" required />
            <% } %>
            <label for="uitleg-3">3</label>

            <% if(rtw && rtw.uitleg === '4') { %>
            <input type="radio" name="uitleg" id="uitleg-4" value="4" checked />
            <% } else { %>
            <input type="radio" name="uitleg" id="uitleg-4" value="4" required />
            <% } %>
            <label for="uitleg-4">4</label>

            <% if(rtw && rtw.uitleg === '5') { %>
            <input type="radio" name="uitleg" id="uitleg-5" value="5" checked />
            <% } else { %>
            <input type="radio" name="uitleg" id="uitleg-5" value="5" required />
            <% } %>
            <label for="uitleg-5">5</label>

            <% if(rtw && rtw.uitleg === '6') { %>
            <input type="radio" name="uitleg" id="uitleg-6" value="6" checked />
            <% } else { %>
            <input type="radio" name="uitleg" id="uitleg-6" value="6" required />
            <% } %>
            <label for="uitleg-6">6</label>

            <% if(rtw && rtw.uitleg === '7') { %>
            <input type="radio" name="uitleg" id="uitleg-7" value="7" checked />
            <% } else { %>
            <input type="radio" name="uitleg" id="uitleg-7" value="7" required />
            <% } %>
            <label for="uitleg-7">7</label>

            <% if(rtw && rtw.uitleg === '8') { %>
            <input type="radio" name="uitleg" id="uitleg-8" value="8" checked />
            <% } else { %>
            <input type="radio" name="uitleg" id="uitleg-8" value="8" required />
            <% } %>
            <label for="uitleg-8">8</label>

            <% if(rtw && rtw.uitleg === '9') { %>
            <input type="radio" name="uitleg" id="uitleg-9" value="9" checked />
            <% } else { %>
            <input type="radio" name="uitleg" id="uitleg-9" value="9" required />
            <% } %>
            <label for="uitleg-9">9</label>

            <% if(rtw && rtw.uitleg === '10') { %>
            <input type="radio" name="uitleg" id="uitleg-10" value="10" checked />
            <% } else { %>
            <input type="radio" name="uitleg" id="uitleg-10" value="10" required />
            <% } %>
            <label for="uitleg-10">10</label>
            <br>
            <br>

            <div>
                <label for="uitlegToelichting">Toelichting</label>
            </div>
            <textarea rows="3" cols="40" name="uitlegToelichting" id="uitlegToelichting"
                placeholder="Wat vond je goed/minder goed aan de uitleg?"
                required /><%= rtw ? rtw.uitlegToelichting : '' %></textarea>

            <p>Hoe goed snap je de gegeven lesstof</p>
            <% if(rtw && rtw.inzicht === '1') { %>
            <input type="radio" name="inzicht" id="inzicht-1" value="1" checked />
            <% } else { %>
            <input type="radio" name="inzicht" id="inzicht-1" value="1" required />
            <% } %>
            <label for="inzicht-1">1</label>

            <% if(rtw && rtw.inzicht === '2') { %>
            <input type="radio" name="inzicht" id="inzicht-2" value="2" checked />
            <% } else { %>
            <input type="radio" name="inzicht" id="inzicht-2" value="2" required />
            <% } %>
            <label for="inzicht-2">2</label>

            <% if(rtw && rtw.inzicht === '3') { %>
            <input type="radio" name="inzicht" id="inzicht-3" value="3" checked />
            <% } else { %>
            <input type="radio" name="inzicht" id="inzicht-3" value="3" required />
            <% } %>
            <label for="inzicht-3">3</label>

            <% if(rtw && rtw.inzicht === '4') { %>
            <input type="radio" name="inzicht" id="inzicht-4" value="4" checked />
            <% } else { %>
            <input type="radio" name="inzicht" id="inzicht-4" value="4" required />
            <% } %>
            <label for="inzicht-4">4</label>

            <% if(rtw && rtw.inzicht === '5') { %>
            <input type="radio" name="inzicht" id="inzicht-5" value="5" checked />
            <% } else { %>
            <input type="radio" name="inzicht" id="inzicht-5" value="5" required />
            <% } %>
            <label for="inzicht-5">5</label>

            <% if(rtw && rtw.inzicht === '6') { %>
            <input type="radio" name="inzicht" id="inzicht-6" value="6" checked />
            <% } else { %>
            <input type="radio" name="inzicht" id="inzicht-6" value="6" required />
            <% } %>
            <label for="inzicht-6">6</label>

            <% if(rtw && rtw.inzicht === '7') { %>
            <input type="radio" name="inzicht" id="inzicht-7" value="7" checked />
            <% } else { %>
            <input type="radio" name="inzicht" id="inzicht-7" value="7" required />
            <% } %>
            <label for="inzicht-7">7</label>

            <% if(rtw && rtw.inzicht === '8') { %>
            <input type="radio" name="inzicht" id="inzicht-8" value="8" checked />
            <% } else { %>
            <input type="radio" name="inzicht" id="inzicht-8" value="8" required />
            <% } %>
            <label for="inzicht-8">8</label>

            <% if(rtw && rtw.inzicht === '9') { %>
            <input type="radio" name="inzicht" id="inzicht-9" value="9" checked />
            <% } else { %>
            <input type="radio" name="inzicht" id="inzicht-9" value="9" required />
            <% } %>
            <label for="inzicht-9">9</label>

            <% if(rtw && rtw.inzicht === '10') { %>
            <input type="radio" name="inzicht" id="inzicht-10" value="10" checked />
            <% } else { %>
            <input type="radio" name="inzicht" id="inzicht-10" value="10" required />
            <% } %>
            <label for="inzicht-10">10</label>
            <br>
            <br>
            <div>
                <label for="inzichtToelichting">Toelichting</label>
            </div>
            <textarea rows="3" cols="40" name="inzichtToelichting" id="inzichtToelichting"
                placeholder="Wat snap je minder goed?" id="inzicht-rtw"
                required /><%= rtw ? rtw.inzichtToelichting : '' %></textarea>

        </fieldset>
        <div class="btns">
            <a href="/bt" class="goBack">
                < Ga terug</a>
                    <button type="submit" value="submit">Volgende </button>
        </div>
    </form>
</section>
<%- include('../includes/footer.ejs') %>